%script(src='/js/Chart.js')
%script(src='/js/answer_charts.js')

.container.well

  %br
  .jumbotron
    %h1= @survey_participation.survey.title
    %p= @survey_participation.survey.description

  %h2 Select a question to view survey results
  %select#questionSelect.form-control
    - @survey_participation.answers.each do |answer|
      %option{value: answer.question.id }= answer.question.content

  %br

  %canvas#questionDisplay{ width: 200, height: 200}
  %div#chartLegend{ style: 'display: inline' }

  %hr(style='clear: both')

  %h2 Your answers to this survey:

  - @survey_participation.answers.each do |answer|
    .answer
      %h3= answer.question.content
      %blockquote= answer.choice.content
      %hr
